SmartDoctor.Data/obj/SmartDoctor.Data.csproj.nuget.g.props
SmartDoctor.Data/obj/Debug/netstandard2.0/SmartDoctor.Data.csprojAssemblyReference.cache
SmartDoctor.Data/obj/Debug/netstandard2.0/SmartDoctor.Data.csproj.CoreCompileInputs.cache
SmartDoctor.Data/obj/Debug/netstandard2.0/SmartDoctor.Data.AssemblyInfo.cs
.vs/SmartDoctor.Data/v15/.suo
SmartDoctor.Data/obj/SmartDoctor.Data.csproj.nuget.g.targets
SmartDoctor.Data/obj/Debug/netstandard2.0/SmartDoctor.Data.AssemblyInfoInputs.cache
SmartDoctor.Data/obj/project.assets.json
SmartDoctor.Data/obj/Debug/netstandard2.0/SmartDoctor.Data.assets.cache
SmartDoctor.Data/obj/SmartDoctor.Data.csproj.nuget.cache
