SmartDoctor.Data/obj/SmartDoctor.Data.csproj.nuget.g.props
SmartDoctor.Data/obj/Debug/netstandard2.0/SmartDoctor.Data.csprojAssemblyReference.cache
SmartDoctor.Data/obj/Debug/netstandard2.0/SmartDoctor.Data.csproj.CoreCompileInputs.cache
SmartDoctor.Data/obj/Debug/netstandard2.0/SmartDoctor.Data.AssemblyInfo.cs
.vs/SmartDoctor.Data/v15/.suo
SmartDoctor.Data/obj/SmartDoctor.Data.csproj.nuget.g.targets
SmartDoctor.Data/obj/Debug/netstandard2.0/SmartDoctor.Data.AssemblyInfoInputs.cache
SmartDoctor.Data/obj/project.assets.json
SmartDoctor.Data/obj/Debug/netstandard2.0/SmartDoctor.Data.assets.cache
SmartDoctor.Data/obj/SmartDoctor.Data.csproj.nuget.cache
SmartDoctor.Data/bin/Debug/netstandard2.0/SmartDoctor.Data.pdb
SmartDoctor.Data/bin/Debug/netstandard2.0/SmartDoctor.Data.dll
SmartDoctor.Data/bin/Debug/netstandard2.0/SmartDoctor.Data.deps.json
.vs/config/applicationhost.config
.vs/SmartDoctor/v15/Server/sqlite3/storage.ide-wal
.vs/SmartDoctor/v15/Server/sqlite3/storage.ide-shm
.vs/SmartDoctor/v15/Server/sqlite3/storage.ide
.vs/SmartDoctor/v15/Server/sqlite3/db.lock
.vs/SmartDoctor/v15/.suo
SmartDoctor.Data/obj/Debug/netstandard2.0/SmartDoctor.Data.pdb
SmartDoctor.Data/obj/Debug/netstandard2.0/SmartDoctor.Data.dll
SmartDoctor.Data/obj/Debug/netstandard2.0/SmartDoctor.Data.csproj.FileListAbsolute.txt
SmartDoctor.Helper/obj/Debug/netcoreapp2.1/SmartDoctor.Helper.csproj.FileListAbsolute.txt
SmartDoctor.Helper/obj/Debug/netcoreapp2.1/SmartDoctor.Helper.csproj.CoreCompileInputs.cache
SmartDoctor.Helper/obj/Debug/netcoreapp2.1/SmartDoctor.Helper.csproj.CopyComplete
SmartDoctor.Helper/obj/Debug/netcoreapp2.1/SmartDoctor.Helper.assets.cache
SmartDoctor.Helper/obj/Debug/netcoreapp2.1/SmartDoctor.Helper.AssemblyInfoInputs.cache
SmartDoctor.Helper/obj/Debug/netcoreapp2.1/SmartDoctor.Helper.AssemblyInfo.cs
SmartDoctor.Helper/bin/Debug/netcoreapp2.1/SmartDoctor.Helper.pdb
SmartDoctor.Helper/bin/Debug/netcoreapp2.1/SmartDoctor.Helper.dll
SmartDoctor.Helper/bin/Debug/netcoreapp2.1/SmartDoctor.Helper.deps.json
SmartDoctor.Helper/bin/Debug/netcoreapp2.1/SmartDoctor.Data.pdb
SmartDoctor.Helper/bin/Debug/netcoreapp2.1/SmartDoctor.Data.dll
SmartDoctor.Helper/obj/project.assets.json
SmartDoctor.Helper/obj/SmartDoctor.Helper.csproj.nuget.g.targets
SmartDoctor.Helper/obj/SmartDoctor.Helper.csproj.nuget.g.props
SmartDoctor.Helper/obj/SmartDoctor.Helper.csproj.nuget.cache
SmartDoctor.Helper/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SmartDoctor.Helper/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SmartDoctor.Helper/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SmartDoctor.Helper/obj/Debug/netcoreapp2.1/SmartDoctor.Helper.pdb
SmartDoctor.Helper/obj/Debug/netcoreapp2.1/SmartDoctor.Helper.dll
SmartDoctor.Helper/obj/Debug/netcoreapp2.1/SmartDoctor.Helper.csprojAssemblyReference.cache
SmartDoctor.Web/obj/Debug/netcoreapp2.1/SmartDoctor.Web.RazorTargetAssemblyInfo.cs
SmartDoctor.Web/obj/Debug/netcoreapp2.1/SmartDoctor.Web.RazorTargetAssemblyInfo.cache
SmartDoctor.Web/obj/Debug/netcoreapp2.1/SmartDoctor.Web.RazorCoreGenerate.cache
SmartDoctor.Web/obj/Debug/netcoreapp2.1/SmartDoctor.Web.RazorAssemblyInfo.cs
SmartDoctor.Web/obj/project.assets.json
SmartDoctor.Web/obj/SmartDoctor.Web.csproj.nuget.g.targets
SmartDoctor.Web/obj/SmartDoctor.Web.csproj.nuget.g.props
SmartDoctor.Web/obj/SmartDoctor.Web.csproj.nuget.cache
SmartDoctor.Web/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SmartDoctor.Web/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SmartDoctor.Web/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SmartDoctor.Web/obj/Debug/netcoreapp2.1/SmartDoctor.Web.pdb
SmartDoctor.Web/obj/Debug/netcoreapp2.1/SmartDoctor.Web.dll
SmartDoctor.Web/obj/Debug/netcoreapp2.1/SmartDoctor.Web.csprojAssemblyReference.cache
SmartDoctor.Web/obj/Debug/netcoreapp2.1/SmartDoctor.Web.csproj.FileListAbsolute.txt
SmartDoctor.Web/obj/Debug/netcoreapp2.1/SmartDoctor.Web.csproj.CoreCompileInputs.cache
SmartDoctor.Web/obj/Debug/netcoreapp2.1/SmartDoctor.Web.csproj.CopyComplete
SmartDoctor.Web/obj/Debug/netcoreapp2.1/SmartDoctor.Web.assets.cache
SmartDoctor.Web/obj/Debug/netcoreapp2.1/SmartDoctor.Web.Views.pdb
SmartDoctor.Web/obj/Debug/netcoreapp2.1/SmartDoctor.Web.Views.dll
SmartDoctor.Web/obj/Debug/netcoreapp2.1/SmartDoctor.Web.TagHelpers.output.cache
SmartDoctor.Web/obj/Debug/netcoreapp2.1/SmartDoctor.Web.TagHelpers.input.cache
SmartDoctor.Web/obj/Debug/netcoreapp2.1/SmartDoctor.Web.RazorAssemblyInfo.cache
SmartDoctor.Web/obj/Debug/netcoreapp2.1/SmartDoctor.Web.AssemblyInfoInputs.cache
SmartDoctor.Web/obj/Debug/netcoreapp2.1/SmartDoctor.Web.AssemblyInfo.cs
SmartDoctor.Web/obj/Debug/netcoreapp2.1/Razor/Views/_ViewStart.g.cshtml.cs
SmartDoctor.Web/obj/Debug/netcoreapp2.1/Razor/Views/_ViewImports.g.cshtml.cs
SmartDoctor.Web/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
SmartDoctor.Web/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_Layout.g.cshtml.cs
SmartDoctor.Web/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
SmartDoctor.Web/obj/Debug/netcoreapp2.1/Razor/Views/Shared/Error.g.cshtml.cs
SmartDoctor.Web/obj/Debug/netcoreapp2.1/Razor/Views/Home/Privacy.g.cshtml.cs
SmartDoctor.Web/obj/Debug/netcoreapp2.1/Razor/Views/Home/Index.g.cshtml.cs
SmartDoctor.Web/obj/Debug/netcoreapp2.1/Razor/Views/Home/Contact.g.cshtml.cs
SmartDoctor.Web/obj/Debug/netcoreapp2.1/Razor/Views/Home/About.g.cshtml.cs
SmartDoctor.Web/bin/Debug/netcoreapp2.1/SmartDoctor.Web.runtimeconfig.json
SmartDoctor.Web/bin/Debug/netcoreapp2.1/SmartDoctor.Web.runtimeconfig.dev.json
SmartDoctor.Web/bin/Debug/netcoreapp2.1/SmartDoctor.Web.pdb
SmartDoctor.Web/bin/Debug/netcoreapp2.1/SmartDoctor.Web.dll
SmartDoctor.Web/bin/Debug/netcoreapp2.1/SmartDoctor.Web.deps.json
SmartDoctor.Web/bin/Debug/netcoreapp2.1/SmartDoctor.Web.Views.pdb
SmartDoctor.Web/bin/Debug/netcoreapp2.1/SmartDoctor.Web.Views.dll
SmartDoctor.Web/bin/Debug/netcoreapp2.1/SmartDoctor.Testing.pdb
SmartDoctor.Web/bin/Debug/netcoreapp2.1/SmartDoctor.Testing.dll
SmartDoctor.Web/bin/Debug/netcoreapp2.1/SmartDoctor.Helper.pdb
SmartDoctor.Web/bin/Debug/netcoreapp2.1/SmartDoctor.Helper.dll
SmartDoctor.Web/bin/Debug/netcoreapp2.1/SmartDoctor.Data.pdb
SmartDoctor.Web/bin/Debug/netcoreapp2.1/SmartDoctor.Data.dll
SmartDoctor.Testing/obj/project.assets.json
SmartDoctor.Testing/obj/SmartDoctor.Testing.csproj.nuget.g.targets
SmartDoctor.Testing/obj/SmartDoctor.Testing.csproj.nuget.g.props
SmartDoctor.Testing/obj/SmartDoctor.Testing.csproj.nuget.cache
SmartDoctor.Testing/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SmartDoctor.Testing/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SmartDoctor.Testing/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SmartDoctor.Testing/obj/Debug/netcoreapp2.1/SmartDoctor.Testing.pdb
SmartDoctor.Testing/obj/Debug/netcoreapp2.1/SmartDoctor.Testing.dll
SmartDoctor.Testing/obj/Debug/netcoreapp2.1/SmartDoctor.Testing.csprojAssemblyReference.cache
SmartDoctor.Testing/obj/Debug/netcoreapp2.1/SmartDoctor.Testing.csproj.FileListAbsolute.txt
SmartDoctor.Testing/obj/Debug/netcoreapp2.1/SmartDoctor.Testing.csproj.CoreCompileInputs.cache
SmartDoctor.Testing/obj/Debug/netcoreapp2.1/SmartDoctor.Testing.assets.cache
SmartDoctor.Testing/obj/Debug/netcoreapp2.1/SmartDoctor.Testing.RazorTargetAssemblyInfo.cache
SmartDoctor.Testing/obj/Debug/netcoreapp2.1/SmartDoctor.Testing.RazorAssemblyInfo.cs
SmartDoctor.Testing/obj/Debug/netcoreapp2.1/SmartDoctor.Testing.RazorAssemblyInfo.cache
SmartDoctor.Testing/obj/Debug/netcoreapp2.1/SmartDoctor.Testing.AssemblyInfoInputs.cache
SmartDoctor.Testing/obj/Debug/netcoreapp2.1/SmartDoctor.Testing.AssemblyInfo.cs
SmartDoctor.Testing/bin/Debug/netcoreapp2.1/SmartDoctor.Testing.runtimeconfig.json
SmartDoctor.Testing/bin/Debug/netcoreapp2.1/SmartDoctor.Testing.runtimeconfig.dev.json
SmartDoctor.Testing/bin/Debug/netcoreapp2.1/SmartDoctor.Testing.pdb
SmartDoctor.Testing/bin/Debug/netcoreapp2.1/SmartDoctor.Testing.dll
SmartDoctor.Testing/bin/Debug/netcoreapp2.1/SmartDoctor.Testing.deps.json
SmartDoctor.Desease/obj/Debug/netcoreapp2.1/SmartDoctor.Desease.RazorAssemblyInfo.cache
SmartDoctor.Desease/obj/Debug/netcoreapp2.1/SmartDoctor.Desease.AssemblyInfoInputs.cache
SmartDoctor.Desease/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SmartDoctor.Desease/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SmartDoctor.Desease/obj/Debug/netcoreapp2.1/SmartDoctor.Desease.csprojAssemblyReference.cache
SmartDoctor.Desease/obj/SmartDoctor.Desease.csproj.nuget.g.props
SmartDoctor.Desease/obj/Debug/netcoreapp2.1/SmartDoctor.Desease.csproj.CoreCompileInputs.cache
SmartDoctor.Desease/obj/Debug/netcoreapp2.1/SmartDoctor.Desease.assets.cache
SmartDoctor.Desease/obj/Debug/netcoreapp2.1/SmartDoctor.Desease.AssemblyInfo.cs
SmartDoctor.Desease/obj/project.assets.json
SmartDoctor.Desease/obj/SmartDoctor.Desease.csproj.nuget.g.targets
SmartDoctor.Desease/obj/SmartDoctor.Desease.csproj.nuget.cache
SmartDoctor.Desease/obj/Debug/netcoreapp2.1/SmartDoctor.Desease.RazorAssemblyInfo.cs
SmartDoctor.Desease/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SmartDoctor.Data/bin/Debug/netstandard2.0/Accord.dll.config
SmartDoctor.Desease/bin/Debug/netcoreapp2.1/SmartDoctor.Helper.pdb
SmartDoctor.Desease/bin/Debug/netcoreapp2.1/SmartDoctor.Helper.dll
SmartDoctor.Desease/bin/Debug/netcoreapp2.1/SmartDoctor.Desease.runtimeconfig.json
SmartDoctor.Desease/bin/Debug/netcoreapp2.1/SmartDoctor.Desease.runtimeconfig.dev.json
SmartDoctor.Desease/bin/Debug/netcoreapp2.1/SmartDoctor.Desease.pdb
SmartDoctor.Desease/bin/Debug/netcoreapp2.1/SmartDoctor.Desease.dll
SmartDoctor.Desease/bin/Debug/netcoreapp2.1/SmartDoctor.Desease.deps.json
SmartDoctor.Desease/bin/Debug/netcoreapp2.1/SmartDoctor.Data.pdb
SmartDoctor.Desease/bin/Debug/netcoreapp2.1/SmartDoctor.Data.dll
SmartDoctor.Desease/bin/Debug/netcoreapp2.1/Accord.dll.config
SmartDoctor.Testing/bin/Debug/netcoreapp2.1/SmartDoctor.Helper.pdb
SmartDoctor.Testing/bin/Debug/netcoreapp2.1/SmartDoctor.Helper.dll
SmartDoctor.Testing/bin/Debug/netcoreapp2.1/SmartDoctor.Data.pdb
SmartDoctor.Testing/bin/Debug/netcoreapp2.1/SmartDoctor.Data.dll
SmartDoctor.Web/bin/Debug/netcoreapp2.1/Accord.dll.config
SmartDoctor.Testing/obj/Debug/netcoreapp2.1/SmartDoctor.Testing.csproj.CopyComplete
SmartDoctor.Desease/obj/Debug/netcoreapp2.1/SmartDoctor.Desease.csproj.FileListAbsolute.txt
SmartDoctor.Desease/obj/Debug/netcoreapp2.1/SmartDoctor.Desease.csproj.CopyComplete
SmartDoctor.Desease/obj/Debug/netcoreapp2.1/SmartDoctor.Desease.RazorTargetAssemblyInfo.cache
SmartDoctor.Testing/bin/Debug/netcoreapp2.1/Accord.dll.config
SmartDoctor.Helper/bin/Debug/netcoreapp2.1/Accord.dll.config
SmartDoctor.Desease/obj/Debug/netcoreapp2.1/SmartDoctor.Desease.pdb
SmartDoctor.Desease/obj/Debug/netcoreapp2.1/SmartDoctor.Desease.dll
SmartDoctor.Web/obj/Debug/netcoreapp2.1/Razor/Views/Test/GetTest.g.cshtml.cs
SmartDoctor.Desease/bin/Debug/netcoreapp2.1/SmartDoctor.Medical.runtimeconfig.json
SmartDoctor.Desease/bin/Debug/netcoreapp2.1/SmartDoctor.Medical.runtimeconfig.dev.json
SmartDoctor.Desease/bin/Debug/netcoreapp2.1/SmartDoctor.Medical.pdb
SmartDoctor.Desease/bin/Debug/netcoreapp2.1/SmartDoctor.Medical.dll
SmartDoctor.Desease/bin/Debug/netcoreapp2.1/SmartDoctor.Medical.deps.json
SmartDoctor.Desease/obj/SmartDoctor.Medical.csproj.nuget.g.targets
SmartDoctor.Desease/obj/SmartDoctor.Medical.csproj.nuget.g.props
SmartDoctor.Desease/obj/SmartDoctor.Medical.csproj.nuget.cache
SmartDoctor.Desease/obj/Debug/netcoreapp2.1/SmartDoctor.Medical.pdb
SmartDoctor.Desease/obj/Debug/netcoreapp2.1/SmartDoctor.Medical.dll
SmartDoctor.Desease/obj/Debug/netcoreapp2.1/SmartDoctor.Medical.csprojAssemblyReference.cache
SmartDoctor.Desease/obj/Debug/netcoreapp2.1/SmartDoctor.Medical.csproj.FileListAbsolute.txt
SmartDoctor.Desease/obj/Debug/netcoreapp2.1/SmartDoctor.Medical.csproj.CoreCompileInputs.cache
SmartDoctor.Desease/obj/Debug/netcoreapp2.1/SmartDoctor.Medical.csproj.CopyComplete
SmartDoctor.Desease/obj/Debug/netcoreapp2.1/SmartDoctor.Medical.assets.cache
SmartDoctor.Desease/obj/Debug/netcoreapp2.1/SmartDoctor.Medical.RazorTargetAssemblyInfo.cache
SmartDoctor.Desease/obj/Debug/netcoreapp2.1/SmartDoctor.Medical.RazorAssemblyInfo.cs
SmartDoctor.Desease/obj/Debug/netcoreapp2.1/SmartDoctor.Medical.RazorAssemblyInfo.cache
SmartDoctor.Desease/obj/Debug/netcoreapp2.1/SmartDoctor.Medical.AssemblyInfoInputs.cache
SmartDoctor.Desease/obj/Debug/netcoreapp2.1/SmartDoctor.Medical.AssemblyInfo.cs
SmartDoctor.User/obj/Debug/netcoreapp2.1/SmartDoctor.User.RazorTargetAssemblyInfo.cache
SmartDoctor.User/obj/Debug/netcoreapp2.1/SmartDoctor.User.RazorAssemblyInfo.cs
SmartDoctor.User/obj/Debug/netcoreapp2.1/SmartDoctor.User.RazorAssemblyInfo.cache
SmartDoctor.User/obj/Debug/netcoreapp2.1/SmartDoctor.User.AssemblyInfoInputs.cache
SmartDoctor.User/obj/Debug/netcoreapp2.1/SmartDoctor.User.AssemblyInfo.cs
SmartDoctor.User/obj/SmartDoctor.User.csproj.nuget.g.targets
SmartDoctor.User/obj/SmartDoctor.User.csproj.nuget.g.props
SmartDoctor.User/obj/SmartDoctor.User.csproj.nuget.cache
SmartDoctor.User/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SmartDoctor.User/obj/Debug/netcoreapp2.1/SmartDoctor.User.pdb
SmartDoctor.User/obj/project.assets.json
SmartDoctor.User/obj/Debug/netcoreapp2.1/SmartDoctor.User.csprojAssemblyReference.cache
SmartDoctor.User/obj/Debug/netcoreapp2.1/SmartDoctor.User.csproj.FileListAbsolute.txt
SmartDoctor.User/obj/Debug/netcoreapp2.1/SmartDoctor.User.csproj.CoreCompileInputs.cache
SmartDoctor.User/obj/Debug/netcoreapp2.1/SmartDoctor.User.assets.cache
SmartDoctor.User/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SmartDoctor.User/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SmartDoctor.User/obj/Debug/netcoreapp2.1/SmartDoctor.User.dll
SmartDoctor.Medical/obj/project.assets.json
SmartDoctor.Medical/obj/SmartDoctor.Medical.csproj.nuget.g.targets
SmartDoctor.Medical/obj/SmartDoctor.Medical.csproj.nuget.g.props
SmartDoctor.Medical/obj/SmartDoctor.Medical.csproj.nuget.cache
SmartDoctor.Medical/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SmartDoctor.Medical/obj/Debug/netcoreapp2.1/SmartDoctor.Medical.assets.cache
SmartDoctor.Medical/obj/Debug/netcoreapp2.1/SmartDoctor.Medical.RazorTargetAssemblyInfo.cache
SmartDoctor.Medical/obj/Debug/netcoreapp2.1/SmartDoctor.Medical.RazorAssemblyInfo.cs
SmartDoctor.Medical/obj/Debug/netcoreapp2.1/SmartDoctor.Medical.RazorAssemblyInfo.cache
SmartDoctor.Medical/obj/Debug/netcoreapp2.1/SmartDoctor.Medical.AssemblyInfoInputs.cache
SmartDoctor.Medical/obj/Debug/netcoreapp2.1/SmartDoctor.Medical.AssemblyInfo.cs
SmartDoctor.Medical/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SmartDoctor.Medical/obj/Debug/netcoreapp2.1/SmartDoctor.Medical.pdb
SmartDoctor.Medical/obj/Debug/netcoreapp2.1/SmartDoctor.Medical.dll
SmartDoctor.Medical/obj/Debug/netcoreapp2.1/SmartDoctor.Medical.csprojAssemblyReference.cache
SmartDoctor.Medical/obj/Debug/netcoreapp2.1/SmartDoctor.Medical.csproj.FileListAbsolute.txt
SmartDoctor.Medical/obj/Debug/netcoreapp2.1/SmartDoctor.Medical.csproj.CoreCompileInputs.cache
SmartDoctor.Medical/obj/Debug/netcoreapp2.1/SmartDoctor.Medical.csproj.CopyComplete
SmartDoctor.Medical/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SmartDoctor.Medical/bin/Debug/netcoreapp2.1/SmartDoctor.Medical.deps.json
SmartDoctor.Medical/bin/Debug/netcoreapp2.1/SmartDoctor.Helper.pdb
SmartDoctor.Medical/bin/Debug/netcoreapp2.1/SmartDoctor.Helper.dll
SmartDoctor.Medical/bin/Debug/netcoreapp2.1/SmartDoctor.Data.pdb
SmartDoctor.Medical/bin/Debug/netcoreapp2.1/SmartDoctor.Data.dll
SmartDoctor.Medical/bin/Debug/netcoreapp2.1/SmartDoctor.Medical.runtimeconfig.json
SmartDoctor.Medical/bin/Debug/netcoreapp2.1/SmartDoctor.Medical.runtimeconfig.dev.json
SmartDoctor.Medical/bin/Debug/netcoreapp2.1/SmartDoctor.Medical.pdb
SmartDoctor.Medical/bin/Debug/netcoreapp2.1/SmartDoctor.Medical.dll
SmartDoctor.Medical/bin/Debug/netcoreapp2.1/Accord.dll.config
SmartDoctor.User/bin/Debug/netcoreapp2.1/SmartDoctor.Helper.pdb
SmartDoctor.User/bin/Debug/netcoreapp2.1/SmartDoctor.Data.pdb
SmartDoctor.User/bin/Debug/netcoreapp2.1/Accord.dll.config
SmartDoctor.User/bin/Debug/netcoreapp2.1/SmartDoctor.Helper.dll
SmartDoctor.User/bin/Debug/netcoreapp2.1/SmartDoctor.Data.dll
SmartDoctor.User/obj/Debug/netcoreapp2.1/SmartDoctor.User.csproj.CopyComplete
SmartDoctor.User/bin/Debug/netcoreapp2.1/SmartDoctor.User.dll
SmartDoctor.User/bin/Debug/netcoreapp2.1/SmartDoctor.User.deps.json
SmartDoctor.User/bin/Debug/netcoreapp2.1/SmartDoctor.User.pdb
