@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    University street<br />
    Vladimir, Russia<br />
    <abbr title="Phone">P:</abbr>
    +7-4922-600-600
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">alexevsergey888@gmail.com</a>
</address>
