
@{
    ViewData["Title"] = "PatientReception";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SmartDoctor.Data.JsonModels;
@model PatientModel

<h2>Patient reception</h2>

<center>
    Patient prediagnosis is @ViewBag.PreDiagnos.
    <br />
  
</center>