
@{
    ViewData["Title"] = "Take a patient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Choose a patient</h2>
<br />
<center>
    @Html.DropDownList("patientDDL",
        new SelectList(ViewBag.Patients),
        "Patient",
        new { @id = "patientDDL", @style = "width: 278px; height: 30px;", @class = "form-control" })
    <br />
    <button style="width: 150px; height: 30px;" class="btn-success" id="takeBtn" onclick="onClickTakeBtn()">Take!</button>
</center>
<script type="text/javascript">
    
    function onClickTakeBtn() {
        var patient = $("#patientDDL").val();
        window.location.href = '@Url.Action("PatientReception", "Outpatient")' + '/?fio=' + patient;
    }
</script>