@{
    ViewData["Title"] = "Already has completed test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>You already has completed test.</h2>

<hr />
<center>
    <h3>
        Your preliminary diagnosis is @ViewBag.PreDiagnos.
    </h3>
    <br />
    <br />
    <button class="btn-danger" style="width: 150px; height: 30px;" id="tryAgainButton" onclick="onClickTryAgainButton()">Try again test</button>
    <br />
    <br />
    <button class="btn-success" style="width: 150px; height: 30px;" id="toDoctorButton" onclick="onClickToDoctorButton()">Doctor's appointment</button>
    <br />
</center>

<script type="text/javascript">

    function onClickTryAgainButton() {
        var urlPath = '@Url.Action("TryAgain", "Test")';
        $.ajax({
            type: "GET",
            url: urlPath,
            success: function () {
                window.location.href = '@Url.Action("Index", "Home")';
            },
            error: function () {
                alert("error");
            }
        });
    }

    function onClickToDoctorButton() {
        var urlPath = '@Url.Action("CreateCard", "Outpatient")';
        $.ajax({
            type: "GET",
            url: urlPath,
            success: function () {
                window.location.href = 'https://docs.google.com/spreadsheets/d/1qBhXPS5C1L0YLTwfGHs2O8-5M1HF9fEUsZFhELAL6wI/edit?usp=drive_web&ouid=104416324226562251123';
            },
            error: function () {
                alert("error");
            }
        });
    }

</script>