
@{
    ViewData["Title"] = "Pass the test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using SmartDoctor.Data.ContextModels;
@model IEnumerable<Questions>

<h2>Pass the test</h2>

<head>
</head>
<body>

    <div id="questions-list">
        <h2>Questions:</h2>
        <hr />
        <table id="questionsTable" class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Question</th>
                <th>Your answer</th>
            </tr>
            @foreach (var question in Model)
            {
            <tr>
                <td>
                    <input type="text" id="question" value="@question.QuestionId" hidden="hidden" />
                    @question.Text?
                </td>
                <td width="10">
                    <input style="width:auto;" type="text" id="answer" />
                </td>
            </tr>
            }
        </table>
        <center>
            <button class="btn-success" style="width: 150px; height: 30px;" id="passTheTestButton" onclick="onClickPassTheTestButton()">Pass the test</button>
        </center>
    </div>
</body>

<script type="text/javascript">

    //$(document).ready(function () {
    //    var UIelements = ["question", "answer"];
    //    for (i = 0; i < UIelements.length; i++) {
    //        var elementsById = document.querySelectorAll('[id=' + UIelements[i] + ']');
    //        for (j = 0; j < elementsById.length; j++) {
    //            var newID = UIelements[i] + "_" + j;
    //            $(elementsById[j]).attr('id', newID);
    //        }
    //    }
    //});

    function validateString(val) {
        if (val == undefined || val.trim() === "") {
            alert("enter answers");
            return false;
        }
        return true;
    }

    function getAnswers() {
        var result = [];
        var answers = document.querySelectorAll('[id=answer]');
        for (j = 0; j < answers.length; j++) {
            var answer = answers[j].value;
            if (!validateString(answer)) {
                return result;
            }
            result.push({
                answer
            });
        }
        return result;
    }
   
    function onClickPassTheTestButton() {

        debugger;
        var answers = getAnswers();
        if (answers.length < 1)
            return;
        var urlPath = '@Url.Action("PassTheTest", "Test")';
        $.ajax({
            type: "POST",
            url: urlPath,
            data: JSON.stringify(
                { "Answers": answers }),
            dataType: "html",
            success: function (data) {
            },
            error: function () {
                alert("error");
            }
        });
    }

</script>