

@{
    ViewData["Title"] = "Chat room";
}

<head>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="~/js/webrtclib.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style type="text/css">
        .message-bubble {
            padding: 10px 0px 10px 0px;
        }

            .message-bubble:nth-child(even) {
                background-color: #F5F5F5;
            }

            .message-bubble > * {
                padding-left: 10px;
            }

        .panel-body {
            padding: 0px;
        }

        .panel-heading {
            background-color: #3d6da7 !important;
            color: white !important;
        }
    </style>
</head>
<body>
    <center>

        <h2>Chat room</h2>
        <br />
        <br />
        <div id="doctor-room">
            <div id="chatMessaging">

            </div>
            <input type="text" id="chat" />
            <button id="sendBtnId" style="width:100px; height:25px;" class="btn-success">Send</button>
            <br />
            <br />
        </div>
        <video id="localVideo" autoplay muted playsinline></video>
        <video id="remoteVideo" autoplay muted playsinline></video>
        <div class="container">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">Chat</div>
                    <div class="panel-body">
                        <div class="container">
                            <div class="row message-bubble">
                                <p class="text-muted">Matt Townsen</p>
                                <span>Why is yo shit so broke?</span>
                            </div>
                            <div class="row message-bubble">
                                <p class="text-muted">Matt Townsen</p>
                                <p>It Isn't'</p>
                            </div>
                            <div class="row message-bubble">
                                <p class="text-muted">Matt Townsen</p>
                                <p>Umm yes it is</p>
                            </div>
                            <div class="row message-bubble">
                                <p class="text-muted">Matt Townsen</p>
                                <p>Test message</p>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="input-group">
                                <input type="text" placeholder="Enter message here..." class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Send</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button id="startBtnId" style="width:100px; height:25px;" class="btn-success">Start</button>
    </center>
</body>

<script>
    var role = '@ViewBag.Role' ;
    var doctorId = '@ViewBag.DoctorId';
    var patientId = '@ViewBag.PatientUserId';

    var sendTextBtn = document.querySelector("#sendBtnId");
    var startBtn = document.querySelector("#startBtnId");
	var sendText = document.querySelector("#chat");
	var textArea = document.querySelector("#chatMessaging");

	var config = {
			room:doctorId + '-' + patientId,
            creator: role == "creator",
			pcConfig:{
				iceServers: [{
					'urls': 'stun:stun.l.google.com:19302'
				}],
			},
			sdpConstraints : {
				offerToReceiveAudio: true,
				offerToReceiveVideo: true
			},
			localVideo : document.querySelector('#localVideo'),
			remoteVideo : document.querySelector('#remoteVideo'),
			signalingURL:  'wss://ec2-3-86-214-19.compute-1.amazonaws.com:8443/webrtc/rtc'
	};



	var rtc = new WebRTCLib(config);

	rtc.onTextMessage = function(msg){
		textArea.innerHTML += msg.fromUser +': ' + msg.value + '<br>';
	}

	sendTextBtn.onclick = function() {
        rtc.sendTextMessage(sendText.value);
        textArea.innerHTML += doctorId +': ' + sendText.value + '<br>';
    };

    startBtn.onclick = function () {
        rtc.startStream();
    };

    var tokenURL = 'https://ec2-3-86-214-19.compute-1.amazonaws.com:8443/webrtc/gettoken';
    rtc._get_token_from_signaling_server(tokenURL, role == "creator" ? doctorId : patientId, role, role == "creator" ? '12345' : '54321');
    

</script>